main{
  width: 100%;
  min-height: calc(100vh - (206px));
  background-image: url(../assets/img/img-login.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
  padding: 20px;
}

.container-contato2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 500px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: rgba(200, 200, 200, ) 0px 5px 15px;
  background: rgba(0, 0, 0, 0.50);
}

.container-form {
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;  
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
 
.input-group label {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
}

.input-group input,
.input-group textarea {
  width: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.input-group{
  text-align: center;
  margin-bottom: 20px;
}

label {
  color: #f1cd30;
  font-weight: bold;
}

.input-group textarea {
  height: 50px;
}

.btn-submit{
  padding: 10px 15px;
  background-color: #f1cd30;
  color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
}


.titulo {
  text-align: center;
  font-size: 42px;
  font-weight: 700;
  padding-bottom: 30px;
  color: #d3b52f;
}


.wrapper-cicle{
display: flex;
align-items: center;
justify-content: space-around;
width: 100%;
}

.image-circle .image{
width: 120px;
height: 120px;
border-radius: 50%;
position: relative;
overflow: hidden;
}
.image-circle img{
width: 100%;
height: 100%;
}
.image .input-group{
width: 100%;
position: absolute;
margin: 0;
bottom: 0;
background-color: #000000;
padding-top:6px;
}

.image .input-group label i:hover {
  color: white;
}

.image .input-group input{
display: none;
}

@media only screen and (max-width: 768px){
  .wrapper-cicle{
    flex-direction: column;
  }
}