footer {
    background-color: #5d6989;
    text-align: center;
    padding-bottom: 20px;
    font-size: 14px;
    font-weight: bold;
}
  
i{
    color: #f1cd30;
    cursor: pointer;
    transition: color 0.5s ease;
}
  
i:hover {
    color: #000000;
}
  
.footer-container {
    height: 80px;
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.nav-footer ul li a {
    text-transform: uppercase;
    font-size: smaller;
    color: #f1cd30;
    line-height: 170%;
    transition: color 0.5s ease;
}
  
.nav-footer ul li a:hover {
    color: #000000;
}
  
.footer-container .nav-footer ul {
    list-style-type: none;
}
  
.footer-container .nav-footer ul li {
    text-decoration: none;
    text-align: left;
}